body, html {
    height: 100%;
  }
:root{
    --dark-blue: #344D67;
    --dark-green: #6ECCAF;
    --soft-green: #ADE792; 
    --soft-baige: #F3ECB0; 

}
.home-image-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.home-image-container h3{
    z-index: 1;
    position: absolute;
    font-size: 40px;
    color: var(--soft-baige);
}
.home-image{
    background-image: url(imgs/home-capa.jpg);
    width: 100%;
    height: 500px;
    object-fit:cover;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(40%);
    z-index: -1;
}
#home-title{
}

#descricao{
    text-align: center;
    font-size: 18px;
    padding: 30px 100px;
}

.other-pages-grid{
    display: inline-grid; 
    grid-template-columns: 25% auto auto auto auto;
    grid-template-rows: 200px;
    column-gap: 10px; 
    padding: 30px 100px 60px 100px; 
}
.other-pages-grid > div{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    object-fit:cover;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    border: solid var(--dark-green) 5px;
}
a {
    text-decoration: none;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: 12px; 
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    color: #fff;
}
.text a{
    color: #fff;
    font-weight: bold;
}
.text p{
    font-weight:normal;
}
.text a:hover{
    font-size: 13px;
}
.origens{
    background-image: url(imgs/home-origens.jpg);
}
.artistas{
    background-image: url(imgs/home-artistas.jpg);
}
.eventos{
    background-image: url(imgs/home-eventos.jpg);
}
.contatos{
    background-image: url(imgs/home-contatos.jpg);
}   