:root{
    --font-marriweather: Marriweather, sans-serif; 
    --dark-blue: #344D67;
    --dark-green: #6ECCAF;
    --soft-green: #ADE792; 
    --soft-baige: #F3ECB0; 
}
.container{
    color: #fff; 
}
.top-samba-container{
    width: 100vw;
    display: flex;
    align-items: center;
}
.samba-title{
    height: 60vh;
    width: 30%;
    background-color: var(--dark-green);
    font-size: 20px;
}
.img-samba{
    height: 60vh;
    width: 70%;
    background-image: url(imgs/samba-pessoas.jpg);
    background-repeat: no-repeat;
}
